name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Récupérer le code
      uses: actions/checkout@v4

    - name: Vérifier la structure du projet
      run: ls -la

    - name: Fin du pipeline
      run: echo "CI/CD exécuté avec succès ✅"
